body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
}
.h-w img{ width: 500px;
}
.h-w{
    max-width: 30% 50%;
    min-width: auto;
    max-height:auto;
    min-width: auto;
    text-align: right;
    padding: 5px;
}
a{
    text-decoration: none;
}
.link-button{
    background-image: linear-gradient(to right, rgb(38, 229, 243), rgb(83, 160, 231), rgb(68, 140, 223));
    padding: 10px 23px;
    border-radius: 4px;
    color: white;
    font-weight: 700;  
    font-size: medium;
    border: white solid 2px;
    outline-offset: 4px;
    
    
}
.top-banner{
    background-image: url(images/top-baner.png.jpg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position-x: 100%;
    max-width: auto;
    min-width: auto;
    max-height:auto;
    min-width: auto;
}
#block{
    display: block;
    font-weight: 600;
    font-style: oblique;
}
.dream-big{
    width: 50%;
    padding-left: 150px;
    max-width: 30% 50%;
    min-width: auto;
    max-height:auto;
    min-width: auto;
}
.d-b{
    margin-top: 200px;
    background-image: url(images/dream-g.png);
    background-repeat: no-repeat;
    max-width: 30% 50%;
    min-width: auto;
    max-height:auto;
    min-width: auto;
}
.Ex-items{
    box-shadow: 15px 15px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 30px;
    padding: 30px;
    border-radius: 10px;   
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position-y: 150px;
    max-width: 30% 50%;
    min-width: auto;
    max-height:auto;
    min-width: auto;
} 
#grad-1{
    width: 110%;
    border-image: linear-gradient(orange, tomato);
    border-image-slice: 1;
    border-left: 7px solid;
    max-width: 30% 50%;
    min-width: auto;
    max-height:auto;
    min-width: auto;
}
#grad-2{
    border-image: linear-gradient(blue, magenta);
    border-image-slice: 1;
    border-left: 7px solid;
    border-radius: 10px;
    max-width: 30% 50%;
    min-width: auto;
    max-height:auto;
    min-width: auto;
}
footer p{
    text-align: center;
    margin-top: 30px;
    text-indent: -43px;
}
#margin-experiences{
    margin-left: 80px;
}
